@page "/ContactsPage"
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Buttons
@inherits Syncfusion.Blazor.SfBaseComponent

<SfButton IconCss="e-icons e-add-icon" IconPosition="IconPosition.Right">Add</SfButton>
<SfButton IconCss="e-icons e-add-icon" IconPosition="IconPosition.Right">Edit</SfButton>

<SfListView ID="list" DataSource="@ListData" CssClass="e-list-template ui-list">
    <ListViewFieldSettings Id="Id" Text="Name" TValue="DataModel" GroupBy="Category"></ListViewFieldSettings>
    <ListViewTemplates TValue="DataModel">
        <Template>
            <div class="e-list-wrapper e-list-multi-line e-list-avatar">
                <span id="showUI" class="e-avatar e-avatar-circle" icon="@context.Icon"> @context.Icon</span>
                <span class="e-list-content">@context.Name</span>
            </div>
        </Template>
        <GroupTemplate>
            <div>
                <span class="category">@context.Text</span>
            </div>
        </GroupTemplate>
    </ListViewTemplates>
</SfListView>

@code{

    List<DataModel> ListData = new List<DataModel>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ListData.Add(new DataModel { Name = "Nancy", Icon = "N", Id = "0", Category = "Contacts"});
        ListData.Add(new DataModel { Name = "Andrew", Icon = "A", Id = "1", Category = "Contacts" });
        ListData.Add(new DataModel { Name = "Janet", Icon = "J", Id = "2", Category = "Friends" });
        ListData.Add(new DataModel { Name = "Margaret", Icon = "", Category = "Contacts", Id = "3" });
        ListData.Add(new DataModel { Name = "Steven", Icon = "S", Id = "4", Category = "Contacts" });
        ListData.Add(new DataModel { Name = "Laura", Icon = "", Category = "Contacts", Id = "5" });
        ListData.Add(new DataModel { Name = "Robert", Icon = "R", Id = "6", Category = "Friends" });
        ListData.Add(new DataModel { Name = "Michael", Icon = "M", Id = "7", Category = "Contacts" });
        ListData.Add(new DataModel { Name = "Albert", Icon = "", Category = "Contacts", Id = "8" });
        ListData.Add(new DataModel { Name = "Nolan", Icon = "N", Id = "9", Category = "Friends" });
    }

    public class DataModel
    {
        public string Name { get; set; }
        public string Icon { get; set; }
        public string Id { get; set; }
        public string Category { get; set; }
    }

}

<style>
    /* ListView position alignment */
    .ui-list.e-listview {
        margin: auto;
        max-width: 325px;
        line-height: initial;
        border: 1px solid lightgray;
    }
    /* ListView header alignment */
    .ui-list.e-listview .e-list-header {
        height: 50px
    }
    .ui-list.e-listview .e-list-header .e-text {
        line-height: 18px
    }
    /* ListView template customization */
    .ui-list.e-listview #showUI {
        display: flex;
    }
    .ui-list.e-listview .e-list-item {
        padding: 3px 0;
    }
    .ui-list.e-listview [icon="R"] {
        background: lightgrey;
    }
    .ui-list.e-listview [icon="M"] {
        background: pink;
    }
    .ui-list.e-listview [icon="A"] {
        background: lightgreen;
    }
    .ui-list.e-listview [icon="S"] {
        background: lightskyblue;
    }
    .ui-list.e-listview [icon="J"] {
        background: orange;
    }
    .ui-list.e-listview [icon="N"] {
        background: lightblue;
    }
    /* ListView theme customization */
    .ui-list.e-listview .e-list-item.e-active {
        background: #ffd939;
        color: #000000;
    }
</style>